body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
    background-color: #84676794;
  }


img {
    max-width: 600px;
    width: 100%;
    height: 100%;
    border: none;
}

.cat-info {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

p {
    font-style: italic;
}

p > span {
    font-weight: 600;
}

.breed-select {
    margin: 30px;
    max-width: 300px;
}
.loader, .error {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.loader {
    /* margin-top: 20px; */
}

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin: 20px auto auto 150px;
    position: relative;
    border: 3px solid #FFF;
    border-radius: 50%;
    box-sizing: border-box;
    animation: animloader 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    width: 6px;
    height: 24px;
    background: #FFF;
    transform: rotate(-45deg);
    position: absolute;
    bottom: -20px;
    left: 46px;
  }
  
  @keyframes animloader {
    0% {
      transform: translate(-10px, -10px);
    }
    25% {
      transform: translate(-10px, 10px);
    }
    50% {
      transform: translate(10px, 10px);
    }
    75% {
      transform: translate(10px, -10px);
    }
    100% {
      transform: translate(-10px, -10px);
    }
  }
      

/* .loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  }  */

.is-hidden {
    display: none;
}