body {
    font-family: 'Roboto', 'Verdana', 'Tahoma', sans-serif;
  }


img {
    max-width: 370px;
    width: 100%;
    height: 100%;
}

.cat-info {
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    gap: 20px;
}

p > span {
    font-weight: 600;
}

.breed-select {
    margin: 20px;
}
.loader, .error {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 0px;
    margin-top: 0px;
}
.loader {
    /* margin-top: 20px; */
}

.loader {
    width: 48px;
    height: 48px;
    border: 3px dotted #FFF;
    border-style: solid solid dotted dotted;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    animation: rotation 2s linear infinite;
  }
  .loader::after {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    border: 3px dotted #FF3D00;
    border-style: solid solid dotted;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    animation: rotationBack 1s linear infinite;
    transform-origin: center center;
  }
      
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes rotationBack {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(-360deg);
    }
  } 
  .is-hidden {
    display: none;
}